$mainColor: #853232;
$secondaryColor: #6e0f0f;
$helperColor: #4848cf;
$bg-color: #f8f5f5;

$whiteColor: #fff;
$grayLightColor: #f8f5f5;
$grayDarkColor: #9b8d8d;

$mainTextColor: #474040;
$secondaryTextColor: #853232;


$fontFamily: 'Spoof', sans-serif;


$pageMaxWidth: min( 100%, 1400px);


$sectionsTopMargin: 80px;

:root{
    --main-color: #853232;
    --main-color-opacity: rgba(133, 50, 50, 0.2);
    --main-text-color: #474040;

}